<%- include('../partials/header') %>

<div class="hero fade-in-down fade-delay-1">
    <img src="/images/eventBanner.jpg" alt="Event Banner" class="hero-img">
    <div class="hero-text">
        <h1>Upcoming Events</h1>
        <p>Check out what's happening soon!</p>
    </div>
</div>

<div id="events">
    <% for (let i = 0; i < events.length; i++) { %>
        <% const date = displayDate(events[i].startDate, events[i].endDate, events[i].startTime, events[i].endTime); %>
        <div class="event-card fade-in-up fade-delay-<%= (i % 4) + 1 %>" onclick="toggleDescription(this)" style="width: 60vw">
            <div class="event-image-wrapper">
                <img src="/images/<%= events[i].image %>" alt="<%= events[i].title %>" class="event-image">
                <div class="event-title-overlay">
                    <h3><%= events[i].title %></h3>
                </div>
            </div>
            <div class="event-summary">
                <p><strong>Date:</strong> <%= date %></p>
                <p><strong>Location:</strong> <%= events[i].location %></p>
            </div>
            <div class="event-description">
                <p><%= events[i].description %></p>
            </div>
        </div>
    <% } %>
</div>

<%- include('../partials/footer') %>

<script>
  function toggleDescription(card) {
    card.classList.toggle('expanded');
  }
</script>
